.row {
    --bs-gutter-x: 0.5rem;
}

.icon-header-2 {
    width: 50px;
    margin: 0 5px;
    cursor: pointer;
}

.icon-header-2 span {
    margin-bottom: 5px;
}

.icon-header-2:hover {
    color: #e50012;
}

.table-infomation {
    padding: 10px 0 !important;
}

.content-history span {
    font-size: 13px;
}

.dots-history {
    left: -6px !important;
    Width: 1rem !important;
    height: 1rem !important;
    margin-top: 6px !important;
}

.info-detail label {
    color: #6b7280;
    font-weight: 400;
}

.info-detail span {
    color: #202c4b;
    font-weight: 500;
    font-size: 15px;
}

.my-input-container {
    position: relative;
}

.my-label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    transition: 0.3s;
    pointer-events: none;
    font-weight: 450;
}

.my-input:focus+.my-label,
.my-input:not(:placeholder-shown)+.my-label {
    top: 1px;
    left: 10px;
    background: #fff;
    padding: 0 2px;
    font-size: 14px;
    font-weight: 500;
    color: #202c4b;
}

.hrm-menu {
    box-shadow: 0px 4px 8px 2px rgba(198, 198, 198, 0.4) !important;
}

.filter-search {
    border: 1px solid #e5e7eb !important;
    cursor: pointer;
}

.notification-status-dot-filter {
    width: 6px;
    height: 6px;
    background: #E70D0D;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}

.footer {
    /* bottom: 0; */
}

.strong {
    color: #E70D0D;
}

.submenu-context {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    /* Đẩy sang phải */
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    min-width: 130px;
    z-index: 100;
}

/* Hiện menu phụ khi hover vào li */
.has-submenu-context:hover .submenu-context {
    display: block;
}

.submenu-context ul li {
    border-radius: 0 !important;
    padding: 5px 10px !important;
}


.menu-title {
    border-radius: 10px;
    top: -3px;
    right: 138px;
    position: absolute;
    z-index: 100;
    color: #6b7280;
}

.height-my-table {
    min-height: 515px;
}

.my-footer {
    min-height: 0 !important;
    padding: 0 !important;
}


.time-select option {
    padding: 4px 8px !important;
    font-size: 14px !important;
    line-height: 1.2 !important;
}

.ant-picker-month-panel {
    width: 215px !important;
}

.ant-picker-year-panel {
    width: 215px !important;
}




.ant-picker-content {
    width: 200px !important;
    height: 200px !important;
}

.ant-picker-month-panel .ant-picker-cell-inner {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 4px !important;
}


.ant-picker-year-panel .ant-picker-cell-inner {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 4px !important;
}

.ant-picker-cell-selected .ant-picker-cell-inner {
    background-color: #e50012 !important;
    color: white !important;
}


.table-detail-salary td,
.table-detail-salary th {
    width: 25%;
}

.decision-detail {
    padding-top: 0px !important;
}

/* error-403 */



.grid-list-employee {
    display: grid;
    grid-template-columns: 30px 70px 180px 1fr 1fr 125px 110px 100px 100px;
    gap: 10px;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.grid-list-employee.child {
    padding: 15px 10px;
}

.grid-list-employee span {
    font-size: 14px;
    color: black;
}


.setting-container {
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.setting-section {
    margin-bottom: 20px;
}

.setting-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item span {
    margin-top: 15px;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ddd;
    font-size: 24px;
    font-weight: bold;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.date-increase p {
    margin: 0px;
}

.input-rtl {
    direction: rtl;
}

/* tét */
.tab-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    overflow: hidden;
}

.tab-type {
    flex: 0 0 100px;
    /* text-align: center; */
    border: 1px solid #ccc;
    background-color: #cccccc;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 8px;
    font-weight: 500;
    font-size: 15px;
    color: #202c4b;
    position: relative;
}

.active-tab-type {
    background-color: #fff;
    border-bottom: #fff;
}


.grid-department {
    display: grid;
    grid-template-columns: 50px 1fr 300px 300px;
    gap: 10px;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.grid-department span {
    font-size: 15px;
}

.grid-department .span-department:hover {
    color: #e50012;
}


.tab-plus {
    flex: none;
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.tab-plus:hover {
    background-color: #e50012;
    color: #fff;
    border-color: #fff;
    cursor: pointer;

}

.tab-type .close-icon {
    position: absolute;
    right: 5px;
    top: 52%;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
    display: none;
}

.tab-type:hover .close-icon {
    display: block;
}

.input-error {
    border: 1px solid #e50012;
}

.title-employee-department {
    margin-left: 20px;
}

.title-employee-department label {
    margin: 0;
    margin-top: 10px;
}

.title-employee-department i {
    margin-right: 5px;
}

.select-crud {
    width: 100%;
}

.select-crud option {
    margin: 0 20px;
}

select {
    width: 100%;
    padding: 0.5rem 0.625rem;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    background-color: #ffffff;
    appearance: none;
    cursor: pointer;
    font-size: 14px;
}

.crud-depart a:hover {
    color: #e50012;
    background-color: white !important;
}

.tittle {
    font-weight: 600;
    font-size: 16px;
    color: #333;
}

.table-permission select {
    background-color: #E5E7EB;
    width: 200px;

}

.table-permission select {
    padding: 0.7rem 0.625rem;
}

.checkbox-permisstion {
    margin: 15px 0;
}

.modal-edit-account {
    /* width: 150%; */
}

.circle {
    border: 1px solid #e50012;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px !important;
    height: 30px;
    border-radius: 50%;
    color: #e50012;
}

.circle:hover {
    background-color: #e50012;
    color: #ffffff;
}


.selected-container {
    display: flex;
    align-items: center;
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 200px;
    /* Điều chỉnh độ rộng theo nhu cầu */
}

.select-wrapper-department {
    position: relative;
}

select {
    width: 100%;
    padding-right: 30px;
    /* Chừa khoảng trống để icon không bị đè */
    appearance: none;
    /* Ẩn style mặc định của trình duyệt */
    -webkit-appearance: none;
    -moz-appearance: none;
}

.x-selected {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    color: #888;
}

.x-selected:hover {
    color: #333;
}

.permission-row {
    position: relative;
    transition: opacity 0.3s ease-in-out;
}

.table-container.blurred {
    opacity: 0.5;
    pointer-events: none;
}

.permission-row.blurred {
    opacity: 0.5;
    pointer-events: none;
}

.error-border {
    border: 2px solid rgb(241, 108, 108) !important;
}

.hidden {
    display: none !important;
}

.readonly-input {
    pointer-events: none;
    background-color: #e9ecef;
    color: #6c757d;
    border: 1px solid #ced4da;
}

.table-add thead th {
    background-color: #ffffff !important;
    border: none;
}

.table-add tbody td {
    border: none;
}

.table-crud th,
.table-crud td {
    padding: 8px 10px;
}

.time-input-custom .bootstrap-datetimepicker-widget {
    display: none !important;
}



/* optine-custom */
.custom-select {
    position: relative;
}

.select-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    min-height: 40px;
    background: #fff;
    position: relative;
}

.selected-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-grow: 1;
}

.selected-item {
    background: #e1e1e1;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.selected-item .remove-btn {
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
    color: red;
}

.clear-all {
    margin-left: auto;
    cursor: pointer;
    font-size: 18px;
    color: red;
    display: none;
}

.select-options {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 9999 !important;
}

.select-options div {
    padding: 10px;
    cursor: pointer;
}

.select-options div:hover {
    background: #f0f0f0;
}

.select-options div.hidden {
    display: none;
}

.select-options.show {
    display: block;
}


.table-leave tbody td,
.table-leave thead th {
    padding: 8px 5px;
}