.setting-container {
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.setting-section {
    margin-bottom: 20px;
}

.setting-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item span {
    margin-top: 15px;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ddd;
    font-size: 24px;
    font-weight: bold;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.date-increase p {
    margin: 0px;
}

.input-rtl {
    direction: rtl;
}

/* tét */
.tab-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    overflow: hidden;
}

.tab-type {
    flex: 0 0 100px;
    /* text-align: center; */
    border: 1px solid #ccc;
    background-color: #cccccc;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 8px;
    font-weight: 500;
    font-size: 15px;
    color: #202c4b;
    position: relative;
}

.active-tab-type {
    background-color: #fff;
    border-bottom: #fff;
}


.grid-department {
    display: grid;
    grid-template-columns: 50px 1fr 300px 300px;
    gap: 10px;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.grid-department span {
    font-size: 15px;
}

.grid-department .span-department:hover {
    color: #e50012;
}


.tab-plus {
    flex: none;
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.tab-plus:hover {
    background-color: #e50012;
    color: #fff;
    border-color: #fff;
    cursor: pointer;

}

.tab-type .close-icon {
    position: absolute;
    right: 5px;
    top: 52%;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
    display: none;
}

.tab-type:hover .close-icon {
    display: block;
}

.input-error {
    border: 1px solid #e50012;
}


.grid-list-employee {
    display: grid;
    grid-template-columns: 30px 70px 180px 1fr 1fr 125px 110px 100px 100px;
    gap: 10px;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.grid-list-employee.child {
    padding: 15px 10px;
}

.grid-list-employee span {
    font-size: 14px;
    color: black;
}

.title-employee-department {
    margin-left: 20px;
}

.title-employee-department label {
    margin: 0;
    margin-top: 10px;
}

.title-employee-department i {
    margin-right: 5px;
}