.profile-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-container,
.profile-container td,
.profile-container th {
    color: black !important;
}

.profile-header {
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 15px;
}

.profile-info {
    color: black;
    display: flex;
    align-items: center;
}

.profile-img {
    width: 150px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.profile-details td {
    padding: 8px 10px;
    vertical-align: top;
    font-weight: 500;
}

.image-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.image-box {
    width: 48%;
    border: 2px dashed #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #fafafa;
}

.image-box img {
    max-width: 100%;
    height: auto;
}

.profile-details th {
    padding: 8px 10px;
    color: #6b7280 !important;
    font-weight: 500;
}

.cate-empl-list {
    top: 50px;
    width: 100%;
    background-color: #f8f9fa;
    z-index: 999;
    position: fixed;
    right: 0;
    left: 72px;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 1px solid #E5E7EB;
}

.badge {
    width: 95px;
    display: inline-block;
    padding: 5px 10px;
    background: #4caf50;
    color: white;
    border-radius: 5px;
}

.table-insurance th,
.table-insurance td {
    width: 25%;
}


.table-create-profile th,
.table-create-profile td {
    padding: 5px 5px;
    color: #202c4b;
    font-weight: 500;
}

.item-salary-month {
    padding: 0;
    border-bottom: 1px solid #e5e7eb;
    border-right: 1px solid #e5e7eb;
    padding-bottom: 30px;

}

.item-salary-month label {
    text-align: center;
    font-weight: 500;
}

.item-salary-month .content-salary-month {
    margin-top: 10px;
    border-left: 3px solid #a5e3a7;
    padding: 5px 10px 5px;
    margin-top: 25px;
    cursor: pointer;
}

.content-salary-month {
    background-color: #cdf4ce;
}


.content-salary-month span {
    display: block;
}

.content-salary-month .luong-thuc-nhan {
    color: #6b7280;
    font-size: 12px;
    margin-bottom: 5px;
}

.table-timekeeping-employee th,
.table-timekeeping-employee td {
    border: 1px solid #E5E7EB;
}

.table-timekeeping-employee th,
.table-timekeeping-employee td:first-child {
    text-align: center;
    vertical-align: middle;

}

.table-timekeeping-employee td {
    padding: 0;
}

.timekeeping-items span {
    display: block;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.timekeeping-items .reason-leave {
    color: #0e70c0;
}

.weekend {
    background-color: #e50012 !important;
}

.weekend span {
    color: #fff !important;
}

.time-checked span {
    margin: 5px;
    background-color: #0e70c0;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
}

.registered-time span {
    margin: 5px;
    font-size: 13px;
    color: black;
}

.work-time span {
    margin: 5px;
    color: black;
}

.go-late span {
    margin: 0 5px;
}


.go-late {
    display: inline-flex;
    align-items: center;
    background-color: #ffc107;
    margin: 5px;
    border-radius: 5px;
    white-space: nowrap;
}


.go-late span {
    color: #fff;
}


.strong-timekeeping {
    font-weight: 600;
}

.explain i {
    margin: 7px;
    margin-left: 10px;

}

.explain {
    background-color: #18619d;
    width: 160px;
    margin: 5px;
    border-radius: 7px;
    color: #fff;
}

.table-timekeeping-employee tbody tr:nth-child(even) td {
    background-color: #f8f9fa;
}

.table-timekeeping-employee tbody tr:nth-child(odd) td {
    background-color: #ffffff;
}

.list-on-leave td {
    border: none !important;
    padding-left: 0;
    color: black !important;
}

.nav-link-profile {
    padding: 8px 8px;
}

.nav-link-profile.active {
    background-color: inherit;
    border-bottom: 2px solid #e50012;
    border-radius: 0;
}

.department-filter:hover {
    cursor: pointer;
    color: #e50012;
}

.update-infomation:hover {
    color: #e50213;
    cursor: pointer;
}



.grid-update-resume {
    display: grid;
    grid-template-columns: 95px 135px 95px 135px 95px 135px;
    gap: 10px;
    padding: 0 10px 5px;
    align-items: center;
    font-weight: 500;
}

.update-resume-modal th {
    width: 225px;
}

.update-resume-modal th,
.update-resume-modal td {
    border: none !important;
}

.update-resume-modal-f th,
.update-resume-modal-f td {
    border: none !important;
}

.update-avatar {
    position: relative;
    border: 1px solid #e9edf4;
    padding: 5px;
    border-radius: 8px;
    min-height: 176px;
    min-width: 135px;
}

.edit-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* Lớp phủ màu đen với độ mờ */
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px;
}

.update-avatar:hover .overlay {
    opacity: 0.5;
}


.update-avatar:hover .edit-text {
    opacity: 1;
    pointer-events: auto;
}


.contract-append tbody tr td {
    color: #202c4b;
}

.button-header .ti-icon:hover {
    color: #e50213 !important;
}

.button-header .btn-add:hover {
    color: #fff !important;
    background-color: #e50213 !important;
}